
<div fxLayout="column" class="login">
  <mat-card>
    <div fxLayout="row wrap" fxLayoutAlign="center stretch">
      <h2>เข้าสู่ระบบในบัญชีของคุณ</h2>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="center stretch">
      <img src="https://www.seekpng.com/png/full/396-3960166_english-alphabet-letter-english-alphabet-download-.png">
    </div>
    <div fxLayout="column" fxLayoutAlign="center stretch">
      <form [formGroup]="loginForm">
        <div fxLayout="row wrap" fxLayoutAlign="center stretch">
          <mat-form-field appearance="outline" fxFlex>
            <mat-label>Email</mat-label>
            <input matInput placeholder="Email">
            <mat-icon matSuffix>mail_outline</mat-icon>
          </mat-form-field>
        </div>

        <div fxLayout="row wrap" fxLayoutAlign="center stretch">
          <mat-form-field appearance="outline" fxFlex>
            <mat-label>Password</mat-label>
            <input matInput placeholder="Password">
            <mat-icon matSuffix>visibility_off</mat-icon>
          </mat-form-field>
        </div>
      </form>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="end stretch">
      <a href="http://">forget</a>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="center stretch">
      <button mat-raised-button color="primary" (click)="login()">Login</button>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="center stretch">
      <button mat-raised-button color="primary" >Register</button>
    </div>
  </mat-card>
</div>
